flows.json
[
    {
        "id": "1037ebeeaedb2bae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81b227e15d842351",
        "type": "ui_upload",
        "z": "1037ebeeaedb2bae",
        "group": "1afdd582990bbbcd",
        "title": "upload",
        "accept": "",
        "name": "",
        "order": 1,
        "width": "5",
        "height": 5,
        "chunk": 256,
        "transfer": "binary",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "3d5dd8af5467141f",
                "3a248bf69546884b",
                "b9d816708e527335"
            ]
        ]
    },
    {
        "id": "3d5dd8af5467141f",
        "type": "json",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "da2c652b39caf3fe",
                "20d42b3427198bcd",
                "cb4419ef7f98488b",
                "31d2a685fbfa2dfe"
            ]
        ]
    },
    {
        "id": "da2c652b39caf3fe",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "3a248bf69546884b",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 560,
        "wires": []
    },
    {
        "id": "e6b5a361e05e143b",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "function 2",
        "func": "msg.objectName=msg.file.name\nmsg.filePath='./'+msg.file.name\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 860,
        "wires": [
            [
                "ca462d11776189c2"
            ]
        ]
    },
    {
        "id": "35a8c894f220294e",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "minio-success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 880,
        "wires": []
    },
    {
        "id": "20d42b3427198bcd",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "function 3",
        "func": "msg.payload.filename=msg.file.name\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 680,
        "wires": [
            [
                "adb9b99e044a99d3"
            ]
        ]
    },
    {
        "id": "adb9b99e044a99d3",
        "type": "file",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "filename": "payload.filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "e6b5a361e05e143b"
            ]
        ]
    },
    {
        "id": "ca462d11776189c2",
        "type": "files",
        "z": "1037ebeeaedb2bae",
        "files_name": "upload-to-minio",
        "host": "21e68ae2956bc2e2",
        "files_operation": "fPutObject",
        "files_bucket": "info",
        "files_object": "objectName(msg.objectName)",
        "files_filepath": "filePath(msg.filePath)",
        "files_metadata": "",
        "x": 240,
        "y": 1020,
        "wires": [
            [
                "35a8c894f220294e"
            ],
            [
                "7e3f2b8e05b6f105"
            ]
        ]
    },
    {
        "id": "cb4419ef7f98488b",
        "type": "http request",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://host.docker.internal:3233/api/v1/web/guest/default/hello_ac.json?name=Manos",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 640,
        "wires": [
            [
                "5c8164bb82774fd6"
            ]
        ]
    },
    {
        "id": "5c8164bb82774fd6",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "Test_Wsk",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "d14372e79480a1a2",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FsReads",
        "label": "units",
        "format": "{{msg.payload.fsReads_avg| number:1}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "d74468362c6b3187",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Transmissions",
        "label": "units",
        "format": "{{msg.payload.networkTransmitted_avg| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 360,
        "wires": []
    },
    {
        "id": "4b0df815ab3b0f33",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Received",
        "label": "units",
        "format": "{{msg.payload.networkReceived_avg|number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 540,
        "wires": []
    },
    {
        "id": "256df16443cc9c9f",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "units",
        "format": "{{msg.payload.memory_avg| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 720,
        "wires": []
    },
    {
        "id": "cdf0b4c21a99f88e",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU",
        "label": "units",
        "format": "{{msg.payload.cpu_avg| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 840,
        "wires": []
    },
    {
        "id": "d52293e55c33360c",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsWritesMAX",
        "label": "units",
        "format": "{{msg.payload.fsWrites_max| number:1}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "7e3f2b8e05b6f105",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "error-minio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 1300,
        "wires": []
    },
    {
        "id": "930a2224c80f9e32",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsWritesMIN",
        "label": "units",
        "format": "{{msg.payload.fsWrites_min| number:1}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "7701e7b38911221e",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FsWrites",
        "label": "units",
        "format": "{{msg.payload.fsWrites_avg| number:1}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 80,
        "wires": []
    },
    {
        "id": "a378cf443a3cee3a",
        "type": "ui_text",
        "z": "1037ebeeaedb2bae",
        "group": "3025ab263fc23fdd",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "",
        "label": "EMPTYMAX",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 90,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3c843b47011f3c85",
        "type": "ui_text",
        "z": "1037ebeeaedb2bae",
        "group": "3ed420c86ccf819f",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "",
        "label": "EMPTYMIN",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f6cac84bef739e5a",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsReadsMAX",
        "label": "units",
        "format": "{{msg.payload.fsReads_max| number:1}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c330f6acc9ebe09",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsReadsMIN",
        "label": "units",
        "format": "{{msg.payload.fsReads_min| number:1}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "1be6666bc37543b5",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "TransmissionMAX",
        "label": "units",
        "format": "{{msg.payload.networkTransmitted_max| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "0a596a45cb22bbd4",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "TransmissionMIN",
        "label": "units",
        "format": "{{msg.payload.networkTransmitted_min| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 480,
        "wires": []
    },
    {
        "id": "84a5d4786c5ae9a3",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "RecievedMAX",
        "label": "units",
        "format": "{{msg.payload.networkReceived_max| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 600,
        "wires": []
    },
    {
        "id": "a25a3abafb608d81",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "RecievedMIN",
        "label": "units",
        "format": "{{msg.payload.networkReceived_min| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "31d2a685fbfa2dfe",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Statistic",
        "func": "let dict={}\nlet all_attributes=[\"fsWrites\",\"fsReads\",\"networkTransmitted\",\"networkReceived\",\"memory\",\"cpu\"]\nfor (let i=0; i<all_attributes.length; i++){\n    let attribute_array=msg.payload.map((x)=>parseFloat(x[all_attributes[i]]))\n    let maximum=0\n    for(let j=0; j<attribute_array.length; j++)\n        if(attribute_array[j]>maximum)\n            maximum=attribute_array[j]\n    dict[all_attributes[i]+\"_max\"]=maximum\n\n    let minimum=attribute_array[0]\n    for(let j=0; j<attribute_array.length; j++)\n        if(attribute_array[j]<minimum)\n            minimum=attribute_array[j]\n    dict[all_attributes[i]+\"_min\"]=minimum\n\n    let count=attribute_array.length\n    let sum=attribute_array.reduce((a,b)=>a+b,0)\n    dict[all_attributes[i]+\"_avg\"]=(sum/count)\n}\nmsg.payload=dict\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 540,
        "wires": [
            [
                "7701e7b38911221e",
                "d52293e55c33360c",
                "930a2224c80f9e32",
                "d14372e79480a1a2",
                "f6cac84bef739e5a",
                "7c330f6acc9ebe09",
                "d74468362c6b3187",
                "1be6666bc37543b5",
                "0a596a45cb22bbd4",
                "4b0df815ab3b0f33",
                "84a5d4786c5ae9a3",
                "a25a3abafb608d81",
                "256df16443cc9c9f",
                "02fd9bbbdf426bbd",
                "c92ae22c4b02133d",
                "cdf0b4c21a99f88e",
                "73dea4c6d2b9722e",
                "ae7d2940ed87df91",
                "a6d5a10648c0dc80"
            ]
        ]
    },
    {
        "id": "02fd9bbbdf426bbd",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "MemoryMAX",
        "label": "units",
        "format": "{{msg.payload.memory_max| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 760,
        "wires": []
    },
    {
        "id": "c92ae22c4b02133d",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "MemoryMIN",
        "label": "units",
        "format": "{{msg.payload.memory_min| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 800,
        "wires": []
    },
    {
        "id": "73dea4c6d2b9722e",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "CPUMAX",
        "label": "units",
        "format": "{{msg.payload.cpu_max|number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 880,
        "wires": []
    },
    {
        "id": "ae7d2940ed87df91",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "CPUMIN",
        "label": "units",
        "format": "{{msg.payload.cpu_min| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 920,
        "wires": []
    },
    {
        "id": "a6d5a10648c0dc80",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "b9d816708e527335",
        "type": "http request",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "/file-uploader",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1afdd582990bbbcd",
        "type": "ui_group",
        "name": "Analytics",
        "tab": "048bf2d3caf3dc2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e68ae2956bc2e2",
        "type": "minio-config",
        "name": "MinIO Instance",
        "host": "minio",
        "port": "9000",
        "useSsl": false
    },
    {
        "id": "3025ab263fc23fdd",
        "type": "ui_group",
        "name": "MAX",
        "tab": "048bf2d3caf3dc2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ed420c86ccf819f",
        "type": "ui_group",
        "name": "MIN",
        "tab": "048bf2d3caf3dc2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "048bf2d3caf3dc2e",
        "type": "ui_tab",
        "name": "Analysis",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]