flows.json
[
    {
        "id": "1037ebeeaedb2bae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81b227e15d842351",
        "type": "ui_upload",
        "z": "1037ebeeaedb2bae",
        "group": "1afdd582990bbbcd",
        "title": "upload",
        "accept": "",
        "name": "",
        "order": 1,
        "width": "5",
        "height": 5,
        "chunk": 256,
        "transfer": "binary",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "3d5dd8af5467141f",
                "3a248bf69546884b"
            ]
        ]
    },
    {
        "id": "107bb182ea6a4065",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FsWrites",
        "label": "units",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "3d5dd8af5467141f",
        "type": "json",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "da2c652b39caf3fe",
                "27125909df6878be",
                "20d42b3427198bcd",
                "cb4419ef7f98488b",
                "061c9bedbdc508cc",
                "b46475a4ffde5c43",
                "dd06a9ecf993d2f3",
                "bb5c917642c88c95",
                "72f41dd46c258feb"
            ]
        ]
    },
    {
        "id": "27125909df6878be",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Avg_fsWrites",
        "func": "let attribute=msg.payload.map((x)=>parseFloat(x[\"fsWrites\"]))\nlet count=attribute.length\nlet sum=attribute.reduce((a,b)=>a+b,0)\nmsg.payload=(sum/count)\nmsg.payload.max=1000000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 360,
        "wires": [
            [
                "107bb182ea6a4065"
            ]
        ]
    },
    {
        "id": "da2c652b39caf3fe",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "3a248bf69546884b",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 140,
        "wires": []
    },
    {
        "id": "e6b5a361e05e143b",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "function 2",
        "func": "msg.objectName=msg.file.name\nmsg.filePath='./'+msg.file.name\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "ca462d11776189c2"
            ]
        ]
    },
    {
        "id": "fd76c922c129d704",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "minio-error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 620,
        "wires": []
    },
    {
        "id": "35a8c894f220294e",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "minio-success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "20d42b3427198bcd",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "function 3",
        "func": "msg.payload.filename=msg.file.name\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "adb9b99e044a99d3"
            ]
        ]
    },
    {
        "id": "adb9b99e044a99d3",
        "type": "file",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "filename": "payload.filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "e6b5a361e05e143b"
            ]
        ]
    },
    {
        "id": "ca462d11776189c2",
        "type": "files",
        "z": "1037ebeeaedb2bae",
        "files_name": "upload-to-minio",
        "host": "21e68ae2956bc2e2",
        "files_operation": "fPutObject",
        "files_bucket": "info",
        "files_object": "objectName(msg.objectName)",
        "files_filepath": "filePath(msg.filePath)",
        "files_metadata": "",
        "x": 260,
        "y": 560,
        "wires": [
            [
                "35a8c894f220294e"
            ],
            [
                "fd76c922c129d704"
            ]
        ]
    },
    {
        "id": "cb4419ef7f98488b",
        "type": "http request",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://host.docker.internal:3233/api/v1/web/guest/default/hello_ac.json?name=Manos",
        "tls": "69949566b5abf038",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 280,
        "wires": [
            [
                "5c8164bb82774fd6"
            ]
        ]
    },
    {
        "id": "5c8164bb82774fd6",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "Test_Wsk",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 420,
        "wires": []
    },
    {
        "id": "061c9bedbdc508cc",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Avg_fsReads",
        "func": "let attribute=msg.payload.map((x)=>parseFloat(x[\"fsReads\"]))\nlet count=attribute.length\nlet sum=attribute.reduce((a,b)=>a+b,0)\nmsg.payload=(sum/count)\nmsg.payload.max=1000000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 460,
        "wires": [
            [
                "d14372e79480a1a2"
            ]
        ]
    },
    {
        "id": "d14372e79480a1a2",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FsReads",
        "label": "units",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "b46475a4ffde5c43",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Avg_Transmition",
        "func": "let attribute=msg.payload.map((x)=>parseFloat(x[\"networkTransmitted\"]))\nlet count=attribute.length\nlet sum=attribute.reduce((a,b)=>a+b,0)\nmsg.payload=(sum/count)\nmsg.payload.max=1000000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 805,
        "y": 536,
        "wires": [
            [
                "d74468362c6b3187"
            ]
        ]
    },
    {
        "id": "d74468362c6b3187",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Transmissions",
        "label": "units",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "dd06a9ecf993d2f3",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Avg_Received",
        "func": "let attribute=msg.payload.map((x)=>parseFloat(x[\"networkReceived\"]))\nlet count=attribute.length\nlet sum=attribute.reduce((a,b)=>a+b,0)\nmsg.payload=(sum/count)\nmsg.payload.max=1000000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "4b0df815ab3b0f33"
            ]
        ]
    },
    {
        "id": "4b0df815ab3b0f33",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Received",
        "label": "units",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 985,
        "y": 624,
        "wires": []
    },
    {
        "id": "bb5c917642c88c95",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Avg_Memory",
        "func": "let attribute=msg.payload.map((x)=>parseFloat(x[\"memory\"]))\nlet count=attribute.length\nlet sum=attribute.reduce((a,b)=>a+b,0)\nmsg.payload=(sum/count)\nmsg.payload.max=1000000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 700,
        "wires": [
            [
                "256df16443cc9c9f"
            ]
        ]
    },
    {
        "id": "256df16443cc9c9f",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "units",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 700,
        "wires": []
    },
    {
        "id": "72f41dd46c258feb",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Avg_CPU",
        "func": "let attribute=msg.payload.map((x)=>parseFloat(x[\"networkTransmitted\"]))\nlet count=attribute.length\nlet sum=attribute.reduce((a,b)=>a+b,0)\nmsg.payload=(sum/count)\nmsg.payload.max=1000000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 760,
        "wires": [
            [
                "cdf0b4c21a99f88e"
            ]
        ]
    },
    {
        "id": "cdf0b4c21a99f88e",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU",
        "label": "units",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 955,
        "y": 764,
        "wires": []
    },
    {
        "id": "1afdd582990bbbcd",
        "type": "ui_group",
        "name": "Analytics",
        "tab": "048bf2d3caf3dc2e",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e68ae2956bc2e2",
        "type": "minio-config",
        "name": "MinIO Instance",
        "host": "minio",
        "port": "9000",
        "useSsl": false
    },
    {
        "id": "69949566b5abf038",
        "type": "tls-config",
        "name": "TLS1",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "048bf2d3caf3dc2e",
        "type": "ui_tab",
        "name": "Analysis",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]